/*define some atribute for all elements*/
*{
	/*remove a litle space in boder*/
	font-family: 'courier', sans-serif;
}

body{
	/*background-color: #139485;*/
	background: #f5f0d0;
}

.toc-list ol {
  padding-inline-start: 2ch;
}

ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }

.center {
	text-align: center;
}

.column2 {
	float: left;
	width: 50%;
  }

  .column3 {
	float: left;
	width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }